# Visual Studio cache
.vs/
*.VC.db
*.opendb

# CMake + VS out-of-source builds
out/
build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake-build-*/
**/Testing/
**/CMakeUserPresets.json
# keep Presets that are shareable:
!CMakePresets.json

# Common build outputs
bin/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/
x64/
x86/

# Misc
*.log
*.ilk
*.pdb
*.obj
*.tlog
*.user
*.aps
*.ncb
*.suo
*.sln.docstates

# Editors
.vscode/
